<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WebPractice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <listener>
  	<listener-class>com.exam_listener.ContextListener</listener-class>
  </listener>
  <error-page>
	<error-code>404</error-code>
  	<location>/exceptionNoPage.jsp</location>
  </error-page>
  
  <!-- Security 역할 추가, 반드시 tomcat-users.xml에 등록되어있는 역할만 지정할 수 있다. -->
  <security-role>
  	<role-name>admin</role-name>
  </security-role>
  
  <!-- 제약(강제) 조건(경우) 추가 -->
  <security-constraint>
  	<!-- (웹자원) 제약조건 -->
	<web-resource-collection>
		<web-resource-name>WebPractice</web-resource-name>
		<url-pattern>/addProduct.jsp</url-pattern>
	</web-resource-collection>
	<!-- (권한) 제약조건 -->
	<auth-constraint>
		<role-name>admin</role-name>
	</auth-constraint>
  </security-constraint>
  <login-config>
  	<auth-method>FORM</auth-method>
  	<form-login-config>
  		<form-login-page>/addProduct_security.jsp</form-login-page>
		<form-error-page>/addProduct_security.jsp?error=true</form-error-page>
  	</form-login-config>
  </login-config>

	
  <filter>
  	<filter-name>logfilter</filter-name>
  	<filter-class>com.filter.LogFilter</filter-class>
  	<init-param>
  		<param-name>filename</param-name>
  		<param-value>C://logs/webmarket.log</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>logfilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>